#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'
# Root password
rootpw --iscrypted $1$/H6HE/ts$iYZM.aolqan4mH4IMzKh5/
# Use network installation
url --url="http://172.16.1.254/images/centos7_x64"
# System language
lang en_US
# Firewall configuration
firewall --disabled
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
graphical
firstboot --disable
# SELinux configuration
selinux --disabled

# Network information
network  --bootproto=static --device=ens3 --gateway=172.16.1.254 --ip=172.16.1.2 --nameserver=8.8.8.8 --netmask=255.255.255.0
# Reboot after installation
reboot
# System timezone
timezone Asia/Ho_Chi_Minh
# System bootloader configuration
bootloader --location=none
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all
# Disk partitioning information
part /boot --fstype="ext4" --size=512
part swap --fstype="swap" --recommended
part / --fstype="ext4" --grow --size=1

%pre
#!/bin/sh  
NICs=$(cat /proc/net/dev | awk {'print $1'} | grep -Ev "^lo|^face|^Inter|^$" | cut -d ":" -f1)
# Khai bao IP NETMASK GATEWAY
NIC0="192.168.100.139 255.255.255.0 192.168.100.1"
NIC1="172.16.1.9 255.255.255.0 172.16.2.254"
i=0
touch /tmp/network-include
for x in $NICs
do	
	NIC=($NICs)
	eval DATA=( \${NIC$i[@]})	
	echo "network  --bootproto=static --device=${NIC[i]} --ip=${DATA[0]}--netmask=${DATA[1]} --gateway=${DATA[2]}--nameserver=8.8.8.8" >> /tmp/network-include
i=$(expr $i + 1)
done
%end
